<header class="header dark-bg">
    <!--logo start-->
    <a href="/" class="logo"><img src="../static/images/nidec.png" alt="Nidec - All for dreams"></a>
    <!--logo end-->
    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
            <!-- task notificatoin start -->
            <li id="task_notificatoin_bar" class="dropdown">
                <font size="4px" color="#B38A32" >
                    Manufacturing operation system
                </font>
            </li>
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</header>
<!--header end-->

